<div class="jumbotron text-center" style="margin-bottom: 0">
  <p>
    <i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2023
    <a href="https://bilel-daikhi-portfolio.web.app/landing" target="_blank">
      SBSA Solutions</a
    >
  </p>
  <img src="./assets/logo-text.png" alt="logo" />
  <br />
  <a
    href="https://bilel-daikhi-portfolio.web.app/landing"
    target="_blank"
    class="mr-2"
    ><i class="fa fa-external-link-square fa-3x social"></i
  ></a>
  <a href="https://www.linkedin.com/in/bilel-daikhi" target="_blank"
    ><i class="fa fa-linkedin-square fa-3x social"></i
  ></a>
</div>
