<div class="row">
  <div class="col-sm-4">
    <h2>Angular Forms</h2>

    <p>
      Angular provides two approaches for handling forms: Template-Driven Forms
      and Reactive Forms.
    </p>
    <h3>Links</h3>

    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/forms/template']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Template Aproach</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/forms/reactive']"
          routerLinkActive="active"
          >Reactive Forms</a
        >
      </li>
    </ul>
    <hr class="d-sm-none" />
  </div>
  <div class="col-sm-8">
    <router-outlet></router-outlet>
  </div>
</div>
