


<div class="row">
  <div class="col-sm-4">
    <h2>Angular Games</h2>
    <h5>Photo of me:</h5>
    <div class="fakeimg">Fake Image</div>
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    <h3>Some Links</h3>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" id="basics" [routerLink]="['/games/tictactoe']" routerLinkActive="active">Tic tac toe</a>


      </li>


    </ul>
    <hr class="d-sm-none">
  </div>
  <div class="col-sm-8" >
    <div>
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</div>
